<div ng-controller="ItemController">
<select class="category-select" ng-change="changeCategory()" ng-model="category" ng-options="category.name as category.name for category in categories">
	<option style="display:none" value="">Select a cate</option>
</select>

<ul ng-model="category" class="item-list">
	<li ng-repeat="item in items"> 
		<a href="#/item/{{item.id}}" ng-click="" class="item-link">
			<img class="item-img" ng-src="img/{{item.id}}.jpg">
			<div class="name-wrapper">
				<a href="javascript:void(0)" ng-click="showName($event)">
					<h4 class="front">Click to see</h4>
					<h4 class="back">{{item.name}}</h4>
				</a>
				
			</div>	
		</a>
	</li>
</ul>
</div>